page-address {

    font-family: Montserrat;

    .formdiv{
        margin-top:2rem;
    }

    .subbtn{
        margin-top: 1rem;
        text-align: center;
    }

    .formdiv .item{
        margin-top: 2rem;
    }
    .button{
        width:50%;
    }
}


